<?xml version="1.0"?>
<!-- Name: Muhammad Zulfaqar bin Azmi -->
<!-- Email: mzulfaqar88@gmail.com -->
<robot name="car">
  <link name="base_link">
    <visual name="base_visual">
      <origin xyz="0.5 0 -0.04" rpy="0 0 4.71" />
      <geometry>
        <mesh filename="package://vehicle_description/mesh/senior_car.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
</robot>
